<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">NY Times Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a class="waves-effect waves-light btn scrape-articles">Scrape</a></li> -->
      <li><a href="#!" class="scrape-articles">Scrape</a></li>
    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <!-- <li><a class="waves-effect waves-light btn scrape-articles">Scrape</a></li> -->
      <li><a href="/saved">Saved Articles</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  {{#each ars}}
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="card-title"><a href="{{link}}" target="_blank" class="headline">{{title}}</a></span></h3>
        </div>
        <div class="panel-body">
          <p class='byline'>{{author}}</p>
          <p class='summary'>{{summary}}</p>
        </div>
        <ul class="list-group">
          <a id="delete" data-id="{{ id }}" class="waves-effect waves-light btn-small" href=""><i class="material-icons right">delete</i></a>
          <a id="comment" data-id="{{ id }}" class="waves-effect waves-light btn-small modal-trigger" href="#modal1"><i class="material-icons left">chat</i></a>
        </ul>
      </div>
    </div>
  {{/each}}

</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class='model-content'>
      <div id="notes"></div>
  </div>

</div>

</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

<script src="/assets/js/main.js"></script>